/* Seleciona todos os elementos da página */
* { 
    margin: 0;
    padding: 0;
}

/* Seleciona todas as tags <p> e <h1> da página */
h1, p { 
    color: red;
}

/* Seleciona todas as tags <p> e <h1> da hierarquia, o último elemento é selecionado */
body div section p,
body div section h1 { 
    color: red;
}

/* Seleção por classe - tags com a classe heading*/
.heading{
    color: yellow;
}

/* Seleção por classe - tags h2 dentro da class main-content*/
.main-content h2 {
    font-style: italic;
}

/* Seleção por classe - classes lorem dentro da class main-content*/
.main-content .lorem {
    font-style: italic;
}

/* Seleção por classe - classes lorem (mas somente h2) dentro da class main-content*/
.main-content h2.lorem {
    font-style: italic;
}

/* Seleção por classe - tag precisa ter as duas classes (não tem espaço entre elas)*/
.main-content.lorem {
    font-style: italic;
}

/* Seleção por pai - filha - filho direto*/
.main-content > .lorem {
    font-style: italic;
}

/* Seleção por irmãos - apenas o próximo depois de h1*/
.pai h1+p {
    color: red;
}

/* Seleção por irmãos - todos depois de h1*/
.pai h1~p {
    color: red;
}

/* Seleção por atributos personalizado*/
[meu-atributo = "valor"] {
    color: green;
}

/* Seleção por atributos padrão*/
[checked] {
    color: blue;
}

/* Seleção por atributos - deve conter um valor teste*/
[meu-atributo ~= "teste"] {
    color: blue;
}

/* Seleção por atributos - deve começar com valor teste seguido de traço [-]*/
[meu-atributo |= "teste"] {
    color: blue;
}

/* Seleção por atributos - deve começar com valor teste*/
[meu-atributo ^= "teste"] {
    color: blue;
}

/* Seleção por atributos - deve terminar com valor teste*/
[meu-atributo $= "teste"] {
    color: blue;
}

/* Seleção por atributos - deve conter o valor teste*/
[meu-atributo *= "teste"] {
    color: blue;
}

/* Todo elemento dentro da tag efeitos de transição */
.heading {
    transition: all 1s ease-in-out;
}

/* Seleção por pseudo-classes - quando passa o mouse*/
.heading:hover{
    background: gray;
}

a {
    color: purple;
}

/*Pseudo-classe de link nunca visitado*/
a:link {
    color: deeppink;
}

/*Pseudo-classe de link visitado*/
a:visited {
    color: blue;
}

/*Pseudo-classe de link clicado*/
a:active {
    color: yellow;
}

/*Pseudo-classe em foco*/
input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    outline: none;
    border: 1 px solid black;
}

/*Pseudo-classe mudando outro elemento*/
input:checked + p {
    background: red;
}

/*Pseudo-classe para elementos obrigatórios*/
input:required {
    background: red;
}